/* Общие стили */
body {
    background: linear-gradient(white 100%, #f0f0f0 50%) no-repeat;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    padding-top: 56px;
    color: #333;
}

/* Стили для навигации */
.navbar {
    background-color: #23364e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    color: white !important;
    text-transform: uppercase;
}

.nav-link {
    color: white !important;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: #ff6f61 !important;
}

.nav-item.active .nav-link {
    color: #ff6f61 !important;
    font-weight: bold;
}

/* Боковая панель категорий */
.list-group-item {
    background-color: #23364e;
    color: white;
    border: none;
    padding: 15px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.list-group-item:hover {
    background-color: #ff6f61;
    color: white;
}

/* Карточки товаров */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #23364e;
}

.card-text {
    color: #555;
    font-size: 0.9rem;
}

.card-footer {
    background-color: #fff;
    border-top: none;
    text-align: center;
    padding: 15px;
}

.card-footer .btn {
    border-radius: 50px;
    padding: 10px 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-outline-success:hover,
.btn-outline-danger:hover {
    color: white;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

/* Пагинация */
.pagination {
    margin-top: 30px;
}

.page-item .page-link {
    color: #23364e;
    border-radius: 50px;
}

.page-item.active .page-link {
    background-color: #ff6f61;
    border-color: #ff6f61;
    color: white;
}

.page-item .page-link:hover {
    background-color: #ff6f61;
    color: white;
}

/* Подвал */
footer {
    background-color: #23364e;
    padding: 20px 0;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}
